<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Редактирование контактных данных</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">Тип</label>
                <div class="col-sm-10">
                    <ui-select ng-model="selectedType.selected">
                        <ui-select-match>
                            <span ng-bind="$select.selected.name"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="item in (types | filter: $select.search) track by item.id">
                            <span ng-bind="item.name"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group">
                <label for="data" class="col-sm-2 control-label">Данные</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="data" placeholder="Данные" ng-model="contactItem.data">
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="col-sm-2 control-label">Примечание</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="description" placeholder="Данные" ng-model="contactItem.description">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>

<div  ng-repeat="contact in contacts">

<table class="table">
    <tbody>
        <tr class="hide debug"><td>ID</td><td class="idr">{{contact._id}}</td></tr>
        <tr><td>Name</td><td>{{contact.name}}</td></tr>
        <tr><td>Date of Birth</td><td>{{contact.birth| date: 'dd.MM.y'}}</td></tr>
        <tr><td colspan="2">

        <div class="wrapper">
            <table class="table inner-grid">
            <tr class="clickable" ng-repeat="contactItem in contact.contactItems"  ng-click="editContactItem($event);">
                <td class="idr hide debug">{{contactItem._id}}</td>
                <td>{{contactItem.type}}</td>
                <td>{{contactItem.data}}</td>
                <td>{{contactItem.description}}</td>
                <td class="row-button-right clickable" ng-click="deleteContactItem(contactItem._id);">
                    <span></span>
                </td>
            </tr>
            </table>
        </div>
        <tr></tr>
    </tbody>
</table>
    <span class="clickable" ng-click="createContactItem()">CREATE</span>
</div>
<a href="#/list">BACK</a>