<!--
@license Gain.Contacts v0.0.0.1
(c) 2015 Denis Davidov http://dendavidov.com
License: GNU GPL
-->
<h1>Контакты</h1>
<table class="table">
    <thead>
        <tr>
            <th class="hide debug">Id</th>
            <th>Name</th>
            <th>Date of birth</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in items" ng-click="openContactEditForm(item._id);" class="clickable">
            <td class="hide debug idr">{{item._id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.birth| date: 'dd.MM.y'}}</td>
        </tr>
    </tbody>
</table>