
@font-face {
  font-family: 'FontAwesome';
  src: url('../vendor/components-font-awesome/fonts/fontawesome-webfont.eot?v=4.5.0');
  src: url('../vendor/components-font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'), url('../vendor/components-font-awesome/fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'), url('../vendor/components-font-awesome/fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'), url('../vendor/components-font-awesome/fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'), url('../vendor/components-font-awesome/fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.wrapper {
}

a {
  color: #00B7FF;
}

.clickable {
  cursor: pointer;
}
.clickable:hover {
  background:#ccc;
}

.inner-grid {
  margin-top:20px;
  border:1px #ccc solid;
}

.row-button-right {
  text-align: center;
  width:36px;

}

.row-button-right span:before{
  content: "\f00d";
  font-family: "FontAwesome";
}
