<!DOCTYPE html>
<html>
<head>
    <title><%=blocks.title %></title>

    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script type="text/javascript" src="/vendor/jquery/jquery.js"></script>
    <script type="text/javascript" src="/vendor/bootstrap/bootstrap.js"></script>
</head>
<body>

    <%- body %>
</body>
</html>
